@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body { font-family: 'Roboto', sans-serif; ;}
#width { width: 5%;}
.activo {font-weight:700;}

nav {width: 100%;display: flex; align-items: center;}
header {width: 100%;text-align:center;}

h1 {font-family: 'Roboto Slab', serif; 
    color: #0a2ff1; 
    font-size: 96px; 
    font-weight: 700;}

h2 {font-weight: 400; 
    color:#04146c;
    font-size: 34px;}

a {font-size: 20px; 
   color: #04146c; 
   font-weight: 400; 
   text-decoration: none; 
   margin-right: 10px;}

img { width: 100%;}
